@{
  Layout = "_Layout";
}

<div class="jumbotron">
  <h1 class=splash-page-header>Welcome to the University Registrar!</h1>
</div>


<div class="button-parent">
  <div class="button-group">
  
  <div class="form-group w-50" id="search">
  @using (Html.BeginForm("Search","Courses")) {
  <input type="text" name="search" class="form-control form-control-lg"/>
  <br>
  <input type="submit" value="Search Courses" class="btn btn-success my-2 my-sm-0">
  }
</div>
    <button class="btn btn-warning">@Html.ActionLink("See all Courses", "Index", "Courses")</button>
    <button class="btn btn-warning">@Html.ActionLink("Add a new Course", "Create", "Courses")</button>
    <button class="btn btn-warning">@Html.ActionLink("See all Students", "Index", "Students")</button>
    <button class="btn btn-warning">@Html.ActionLink("Add a new Student", "Create", "Students")</button>
  </div>
</div>
